[Unit]
Description=DS18B20 Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /data/hab_sonda/hav/dallasService.py
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
