[Unit]
Description=INA3221 Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /data/hab_sonda/hav/ina3221Service.py
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
